/* CSS Document */
.mainLogo {
  width: 35px;
  height: 70px;
  top: 20px;
  left: 30px;
  position: absolute; }

.myName {
  position: absolute;
  top: 78px;
  right: 5vw;
  letter-spacing: .1em;
  font-size: .9em; }

.mainNav {
  transform: rotate(270deg);
  position: absolute;
  left: -120px;
  top: 300px; }

.navItem, .navItem a {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  letter-spacing: .1em;
  font-size: .78em;
  transition: all ease-in-out .2s; }

.navItem a:hover {
  border-bottom: #333333 1px solid;
  padding-bottom: 2px; }

.navMid {
  margin-left: 55px;
  margin-right: 55px; }

.navLine {
  position: absolute;
  left: 60px;
  top: 216px;
  height: 180px; }

@media screen and (min-width: 800px) {
  .mainLogo {
    width: 50px;
    height: 100px;
    top: 30px;
    left: 43px; }

  .myName {
    font-size: 1em;
    top: 107px;
    left: 93px; }

  .mainNav {
    left: -138px;
    top: 55%; }

  .navItem, .navItem a {
    font-size: .9em; }

  .navLine {
    height: 240px;
    left: 85px;
    top: 21vw; } }
.pageTop {
  display: grid;
  grid-template-columns: 45% 55%; }

.titleArea {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%; }

.imageArea {
  height: auto;
  width: 95%;
  grid-column: 2 / 3;
  flex-wrap: wrap;
  display: none;
  margin-left: 5%; }

.titleLineTop {
  margin: 0 auto;
  margin-top: 194px;
  margin-left: 30%;
  width: 160px; }

.pageTitle {
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 10vw;
  font-size: 3.2em;
  width: 3em;
  text-align: center;
  font-family: Gothic;
  color: #333333;
  line-height: 1.1em; }

.titleLineBot {
  margin: 0 auto;
  margin-top: 63px;
  margin-left: 30%;
  width: 160px; }

.projectRoll {
  font-size: 1.4em;
  color: #333333;
  letter-spacing: .1em;
  width: 4.8em;
  text-align: center;
  margin-left: 42vw;
  margin-top: 75px; }

.imgBlock {
  flex-basis: 50%; }

.imgQuad {
  width: 100%;
  height: 100%;
  cursor: pointer; }

.workPre {
  transition: all .4s ease-in-out; }

.workPre:hover {
  transform: scale(1.04); }

.aboutImg {
  cursor: initial; }

@media screen and (min-width: 800px) {
  .titleArea {
    grid-column: 1 / 2; }

  .imageArea {
    display: flex; }

  .titleLineTop {
    margin: 0 auto;
    width: 300px;
    margin-top: 38%; }

  .pageTitle {
    margin-top: 13%;
    font-size: 5.6em;
    width: 280px;
    margin-left: 0; }

  .titleLineBot {
    margin: 0 auto;
    margin-top: 13%;
    width: 300px; }

  .projectRoll {
    font-size: 2em;
    margin-left: 24vw;
    margin-top: 60px; } }
.pageTitleLong {
  text-transform: uppercase;
  margin-top: 70px;
  margin-left: 10vw;
  font-size: 2.5em;
  width: 5em;
  text-align: center;
  font-family: Gothic;
  color: #333333;
  line-height: 1.1em; }

@media screen and (min-width: 800px) {
  .pageTitleLong {
    margin-top: 13%;
    font-size: 5.2em;
    width: 5.8em;
    margin-left: 0; }

  .imgBlockCont {
    flex-basis: 100%;
    overflow: hidden; }

  .imgCont {
    width: 100%;
    height: 100%;
    border-left: 1px solid #888888; } }
.contTitle {
  display: none; }

.workMenu {
  width: 100%;
  display: flex; }

.workMenu ul {
  width: 85vw;
  margin: 0 auto; }

.workOpt {
  margin-top: 200px;
  margin-bottom: 50px;
  display: inline;
  font-size: 1em;
  color: #333333;
  cursor: pointer;
  letter-spacing: .13em;
  padding-bottom: 4px;
  text-transform: uppercase; }

.workOpt:hover {
  color: #888888; }

.workOpt:active {
  border-bottom: #888888 solid 1px; }

.optL {
  float: left; }

.optR {
  float: right; }

.underLine {
  border-bottom: #888888 solid 1px; }

.workArea {
  display: grid;
  grid-template-columns: 50% 50%; }

.workDisp {
  grid-column: 1/3;
  width: 88%;
  margin: 0 auto;
  margin-bottom: 50px; }

.workTitle {
  width: 48%;
  color: #333333;
  font-size: 1.05em;
  font-family: Gothic;
  margin-bottom: .6em; }

.workDesc {
  width: 45%;
  color: #333333;
  font-size: .85em;
  line-height: 1.15em; }

.workGit {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-bottom: 1em;
  filter: opacity(0.6); }

.workGit:hover {
  filter: opacity(1); }

.gitLink {
  width: 25%; }

.workImg {
  width: 50%;
  float: right;
  transition: all .2s ease-in-out; }

.workImg:hover {
  transform: scale(1.08); }

.vidArea {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px; }

.reel {
  width: 100%; }

@media screen and (min-width: 800px) {
  .pageCont {
    margin-top: 100px; }

  .contTitle {
    display: initial;
    text-transform: uppercase;
    letter-spacing: .3em;
    border-bottom: 1px #888888 solid;
    font-size: 1.3em;
    color: #333333;
    padding: 4px;
    margin-left: 88px; }

  .workMenu {
    width: 0px;
    display: block;
    transform: rotate(270deg);
    position: absolute;
    left: 45px;
    top: 100vw; }

  .workMenu ul {
    width: 350px;
    display: flex;
    flex-direction: row-reverse; }

  .workOpt {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    font-size: .78em; }

  .optL {
    float: none;
    margin-left: 35px; }

  .optR {
    float: none; }

  .workArea {
    width: 95%;
    float: right;
    margin-top: 100px; }

  .workDisp {
    grid-column: span 1;
    margin-bottom: 100px; }

  .workTitle {
    font-size: 2em;
    margin-bottom: .8em; }

  .workDesc {
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: .15em; }

  .vidArea {
    margin: 100px auto; } }
.contInfo {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-bottom: 80px; }

.contInfoRow {
  text-align: center;
  letter-spacing: .14em;
  line-height: 2em; }

.contForm {
  width: 80%;
  margin: 0 auto; }

.contInp {
  width: 100%;
  height: 2em;
  margin-bottom: 18px;
  margin-top: 5px;
  background-color: #fefefe;
  border: #888888 1px solid; }

.contMessage {
  width: 100%;
  margin-bottom: 18px;
  margin-top: 5px;
  background-color: #fefefe;
  border: #888888 1px solid; }

.contSubmit {
  margin-bottom: 80px;
  width: 100%;
  border: 1px solid #888888;
  text-transform: uppercase;
  letter-spacing: .15em;
  padding: 5px 0;
  background-color: #fefefe;
  border-radius: 5px; }

@media screen and (min-width: 800px) {
  .contInfo {
    margin-top: 100px;
    margin-bottom: 80px; }

  .contInfoRow {
    font-size: 1.8em; }

  .contForm {
    width: 40%;
    margin: 0 auto; }

  .contMessage {
    margin-bottom: 45px; }

  .contSubmit {
    margin-bottom: 180px; } }
.aboutDesc {
  margin: 0 auto;
  width: 80%;
  margin-top: 160px;
  margin-bottom: 40px;
  line-height: 1.8em;
  color: #333333; }

.indent {
  margin-left: 25px; }

.resume {
  color: #333333;
  font-size: 1.2em;
  margin-left: 42%;
  display: inline-block;
  margin-bottom: 75px; }

@media screen and (min-width: 800px) {
  .aboutDesc {
    width: 60%;
    margin-top: 65px;
    margin-bottom: 75px;
    font-size: 1.8em;
    line-height: 2.2em; }

  .indent {
    margin-left: 75px; }

  .resume {
    margin-left: 48%; } }
.mainFooter {
  width: 100%; }

.footerLine {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px; }

.footerLogo {
  width: 35px;
  height: 70px;
  float: left;
  margin-left: 8%;
  margin-bottom: 20px; }

.footerNav {
  float: right;
  margin-right: 8%;
  margin-top: 24px; }

.footerOpt {
  display: inline; }

.footerOpt a {
  color: #333333;
  text-decoration: none;
  font-size: .85em;
  transition: all .1s ease-in-out; }

.footerOpt a:hover {
  border-bottom: #888888 solid 1px;
  padding-bottom: 2px; }

.footMid {
  margin: 0 8px; }

@media screen and (min-width: 800px) {
  .mainFooter {
    height: 100px;
    margin-top: 0px; }

  .footerLine {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px; }

  .footerLogo {
    width: 40px;
    height: 80px;
    margin-bottom: 50px; }

  .footerNav {
    margin-right: 12%;
    margin-top: 35px;
    width: 70%; }

  .footerOpt a {
    font-size: .9em; }

  .footMid {
    margin: 0 40%; } }
.contFooter {
  width: 100%; }

@media screen and (min-width: 800px) {
  .contFooter {
    height: 100px; } }
.lightbox {
  width: 0%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 2.5%;
  display: none;
  right: 7.5%;
  transition: all .5s ease-in-out .1s;
  -o-transition: opacity .06s ease-in; }

.showLightbox {
  display: block;
  width: 85%;
  right: 7.5%;
  animation: lbOpen .4s ease-in-out 1 forwards; }

.scrollStop {
  overflow: hidden; }

.closeLightbox {
  position: absolute;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  right: 24px;
  top: 12px; }

.closeLightbox:hover {
  color: #999; }

.lbImgCont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

#lbImg {
  width: 100%;
  height: auto;
  margin: auto 0;
  max-width: 100%;
  max-height: 100%; }

@keyframes lbOpen {
  0% {
    width: 0%;
    right: 50%; }
  100% {
    width: 85%;
    right: 7.5%; } }
@media screen and (min-width: 800px) {
  .lbImgCont {
    flex-direction: row; }

  #lbImg {
    height: 100%;
    width: auto;
    margin: 0 auto; } }
/*this class will hide elements on our page*/
.hidden {
  display: none; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

@font-face {
  font-family: Gothic;
  src: url(../assets/CenturyGothic.ttf); }
html {
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-color: #fafafa; }

/*# sourceMappingURL=main.css.map */
