
.lightbox {
	width: 0%;
	height: 95%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 2.5%;
	display: none;
	right: 7.5%;
	transition: all .5s ease-in-out .1s;
	-o-transition: opacity .06s ease-in;
	overflow-y: scroll;
	border: 1px $black solid;
}

.showLightbox {
	display: block;
	width: 85%;
	right: 7.5%;
	animation: lbOpen .4s ease-in-out 1 forwards;
}

.scrollStop {
	overflow: hidden;
}

.closeLightbox {
	position: absolute;
	color: #fff;
	font-size: 2em;
	cursor: pointer;
	right: 24px;
	top: 12px;
}

.closeLightbox:hover {
	color: #999;
}

.breakdown{
	width: 90%;
	background-color: $white;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	border: 1px $black solid;
}

.bdTitle{
	width: 40%;
	float: left;
	font-size: 1.8em;
	font-weight: bold;
}

.bdRole{
	width: 40%;
	float: right;
	text-align: right;
	font-size: 1.2em;
}

.bdArea{
	width: 90%;
	margin-left: 5%;
	margin-top: 40px;
}

.lbImgCont {
    height: 100%;
	width: 90%;
	margin-left: 5%;
	display: flex;
    overflow: hidden;
}

#lbImg {
	width: 100%;
	height: auto;
	margin: auto 0;
	max-width: 100%;
	max-height: 100%;
}

@keyframes lbOpen {
	0% {
		width: 0%;
		right: 50%;
	}

	100% {
		width: 85%;
		right: 7.5%;
	}
}

@include desktop {
	// .lbImgCont {
	// 	flex-direction: row;
	// }

	// #lbImg {
	// 	height: 100%;
	// 	width: auto;
	// 	margin: 0 auto;
	// }
}