.contTitle {
    display: none;
}

.workMenu {
    width: 100%;
    display: flex;
}

.workMenu ul {
    width: 85vw;
    margin: 0 auto;
}

.workOpt {
    margin-top: 200px;
    margin-bottom: 50px;
    display: inline;
    font-size: 1em;
    color: $black;
    cursor: pointer;
    letter-spacing: .13em;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.workOpt:hover {
    color: $light;
}

.workOpt:active {
    border-bottom: $light solid 1px;
}

.optL {
    float: left;
}

.optR {
    float: right;
}

.underLine {
    border-bottom: $light solid 1px;
}

.workArea {
    display: grid;
    grid-template-columns: 50% 50%;
}

.workDisp {
    grid-column: 1/3;
    width: 88%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.workTitle {
    width: 48%;
    color: $black;
    font-size: 1.05em;
    font-family: Gothic;
    margin-bottom: .6em;
}

.workDesc {
    width: 45%;
    color: $black;
    font-size: .85em;
    line-height: 1.15em;
}

.workGit {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-bottom: 1em;
    filter: opacity(.6);
}

.workGit:hover {
    filter: opacity(1);
}

.gitLink {
    width: 25%;
}

.workImg {
    width: 50%;
    float: right;
    transition: all .2s ease-in-out;
}

.workImg:hover {
    transform: scale(1.08);
}

.vidArea {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.reel {
    width: 100%;
}

//MEDIA QUERIES

@include desktop {
    .pageCont {
        margin-top: 100px;
    }

    .contTitle {
        display: initial;
        text-transform: uppercase;
        letter-spacing: .3em;
        border-bottom: 1px $light solid;
        font-size: 1.3em;
        color: $black;
        padding: 4px;
        margin-left: 88px;
    }

    .workMenu {
        width: 0px;
        display: block;
        transform: rotate(270deg);
        position: absolute;
        left: 45px;
        top: 100vw;
    }
    
    .workMenu ul {
        width: 350px;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .workOpt {
        margin-top: 0;
        margin-bottom: 0;
        display: block;
        font-size: .78em;
    }
    
    .optL {
        float: none;
        margin-left: 35px;
    }
    
    .optR {
        float: none;
    }

    .workArea {
        width: 95%;
        float: right;
        margin-top: 100px;
    }
    
    .workDisp {
        grid-column: span 1;
        margin-bottom: 100px;
    }

    .workTitle {
        font-size: 2em;
        margin-bottom: .8em;
    }

    .workDesc {
        font-size: 1.2em;
        line-height: 1.5em;
        letter-spacing: .15em;
    }

    .vidArea {
        margin: 100px auto;
    }
}

//!!!!!!!!!!!!!!!
//CONTACT SECTION
//!!!!!!!!!!!!!!!

.contInfo {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-bottom: 80px;
}

.contInfoRow {
    text-align: center;
    letter-spacing: .14em;
    line-height: 2em;
}

.contForm {
    width: 80%;
    margin: 0 auto;
}

.contInp {
    width: 100%;
    height: 2em;
    margin-bottom: 18px;
    margin-top: 5px;
    background-color: #fefefe;
    border: $light 1px solid;
}

.contMessage {
    width: 100%;
    margin-bottom: 18px;
    margin-top: 5px;
    background-color: #fefefe;
    border: $light 1px solid;  
}

.contSubmit {
    margin-bottom: 80px;
    width: 100%;
    border: 1px solid $light;
    text-transform: uppercase;
    letter-spacing: .15em;
    padding: 5px 0;
    background-color: #fefefe;
    border-radius: 5px;
}

//MEDIA QUERIES

@include desktop {
    .contInfo {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .contInfoRow {
        font-size: 1.8em;
    }

    .contForm {
        width: 40%;
        margin: 0 auto;
    }

    .contMessage {
        margin-bottom: 45px;
    }

    .contSubmit {
        margin-bottom: 180px;
    }
}

//!!!!!!!!!!!!!!!
//ABOUT SECTION
//!!!!!!!!!!!!!!!

.aboutDesc {
    margin: 0 auto;
    width: 80%;
    margin-top: 160px;
    margin-bottom: 40px;
    line-height: 1.8em;
    color: $black;
}

.indent {
    margin-left: 25px;
}

.resume {
    // text-decoration: none;
    color: $black;
    font-size: 1.2em;
    margin-left: 42%;
    display: inline-block;
    margin-bottom: 75px;
}

//MEDIA QUERIES

@include desktop {
    .aboutDesc {
        width: 60%;
        margin-top: 65px;
        margin-bottom: 75px;
        font-size: 1.8em;
        line-height: 2.2em;
    }

    .indent {
        margin-left: 75px;
    }

    .resume {
        margin-left: 48%;
    }
}
